<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="stylesheet" href="../admin/css/bootstrap.css">
</head>
<body>
<script type="text/javascript" src="../admin/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../admin/js/bootstrap.js"></script>
<script type="text/javascript" src="../admin/js/jscolor.js"></script>
<div class="container">
    <form id="dynamicDataForm" class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="officialArticle">文章段落</label>
	        <input type="text" class="form-control required official-show"
	               id="officialArticle" readonly placeholder="点击编辑官方文章段落">
        </div>
        <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
    </form>
	<!-- 编辑文章弹窗 -->
	<div class="modal article-style" id="articleModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
							class="sr-only">Close</span></button>
					<h4 class="modal-title">编辑段落</h4>
				</div>
				<div class="modal-body">
					<div>
						<button type="button" class="btn btn-success add-article">添加段落</button>
					</div>
					<div class="box-body table-responsive">
						<table class="table table-hover">
							<thead>
							<th>标题类型</th>
							<th>内容</th>
							<th>图片</th>
							<th>操作</th>
							</thead>
							<tbody id="myTbody">

							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="updateAuditReasons()">保存</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 添加官方文章段落 -->
	<div class="modal official-style" id="officialArticleModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
							class="sr-only">Close</span></button>
					<h4 class="modal-title">添加官方文章段落</h4>
				</div>
				<div class="modal-body">
					<div class="form-group small-title">
						<label class="col-sm-1 control-label title-label">小标题：</label>
						<div class="col-sm-2">
							<input type="text" name="content" class="form-control" placeholder="不填则不保存整行数据"/>
						</div>
						<label class="col-sm-1 control-label">字体：</label>
						<div class="col-sm-1 font-width">
							<select name="fontName" class="form-control">
								<option value="PingFangSC-Semibold">苹方-简 中粗体</option>
								<option value="PingFangSC-Medium" selected>苹方-简 中黑体</option>
								<option value="PingFangSC-Regular">苹方-简 常规体</option>
							</select>
						</div>
						<label class="col-sm-1 control-label">字体大小：</label>
						<div class="col-sm-1">
							<input type="number" name="fontSize" class="form-control" value="20"/>
						</div>
						<label class="col-sm-1 control-label">字体颜色：</label>
						<div class="col-sm-1 color-width">
							<input name="color"
							       type="text"
							       class="form-control required jscolor"
							       value="#000000"
							       placeholder="">
						</div>
						<label class="col-sm-1 control-label">透明度：</label>
						<div class="col-sm-1">
							<input type="number" name="colorAlp" class="form-control" min="0.01" max="1.0" step="0.01"
							       value="1"/>
						</div>
					</div>
					<div class="form-group small-title">
						<label class="col-sm-1 control-label title-label align-style">对齐方式：</label>
						<div class="col-sm-1">
							<select name="horizontalAlign" class="form-control horizontal-style">
								<option value="left">居左</option>
								<option value="center" selected>居中</option>
								<option value="right">居右</option>
							</select>
						</div>
						<label class="col-sm-1 control-label head-style">上边距：</label>
						<div class="col-sm-1">
							<input type="number" name="headSpacing" class="form-control" value="21"/>
						</div>
					</div>
					<div class="form-group second-title">
						<label class="col-sm-1 control-label title-label">二级小标题：</label>
						<div class="col-sm-2">
							<input type="text" name="content" class="form-control" placeholder="不填则不保存整行数据"/>
						</div>
						<label class="col-sm-1 control-label">字体：</label>
						<div class="col-sm-1 font-width">
							<select name="fontName" class="form-control">
								<option value="PingFangSC-Semibold">苹方-简 中粗体</option>
								<option value="PingFangSC-Medium">苹方-简 中黑体</option>
								<option value="PingFangSC-Regular" selected>苹方-简 常规体</option>
							</select>
						</div>
						<label class="col-sm-1 control-label">字体大小：</label>
						<div class="col-sm-1">
							<input type="number" name="fontSize" class="form-control" value="18"/>
						</div>
						<label class="col-sm-1 control-label">字体颜色：</label>
						<div class="col-sm-1 color-width">
							<input name="color"
							       type="text"
							       class="form-control required jscolor"
							       value="#000000"
							       placeholder="">
						</div>
						<label class="col-sm-1 control-label">透明度：</label>
						<div class="col-sm-1">
							<input type="number" name="colorAlp" class="form-control" min="0.01" max="1.0" step="0.01"
							       value="1"/>
						</div>
					</div>
					<div class="form-group second-title">
						<label class="col-sm-1 control-label title-label align-style">对齐方式：</label>
						<div class="col-sm-1">
							<select name="horizontalAlign" class="form-control horizontal-style">
								<option value="left">居左</option>
								<option value="center" selected>居中</option>
								<option value="right">居右</option>
							</select>
						</div>
						<label class="col-sm-1 control-label head-style">上边距：</label>
						<div class="col-sm-1">
							<input type="number" name="headSpacing" class="form-control" value="21"/>
						</div>
					</div>
					<div class="form-group article-content">
						<label class="col-sm-1 control-label title-label">正文：</label>
						<div class="col-sm-2">
							<input name="content" class="form-control" rows="4"/>
						</div>
						<label class="col-sm-1 control-label">图片：</label>
						<div class="col-sm-1 font-width">
							<div id="upload_img_show"></div>
							<input name="textImage" type="hidden" class="form-control" placeholder="请点击上传图片"
							       data-msg-required="请上传图片" readonly/>
						</div>
						<label class="col-sm-1 control-label">图片跳转链接：</label>
						<div class="col-sm-1">
							<input type="text" name="jumpModel" class="form-control"/>
						</div>
					</div>
					<div class="form-group description-style img-description">
						<label class="col-sm-1 control-label title-label">图片描述：</label>
						<div class="col-sm-2">
							<input type="text" name="content" class="form-control" placeholder="不填则不保存整行数据"/>
						</div>
						<label class="col-sm-1 control-label">字体：</label>
						<div class="col-sm-1 font-width">
							<select name="fontName" class="form-control">
								<option value="PingFangSC-Semibold">苹方-简 中粗体</option>
								<option value="PingFangSC-Medium">苹方-简 中黑体</option>
								<option value="PingFangSC-Regular" selected>苹方-简 常规体</option>
							</select>
						</div>
						<label class="col-sm-1 control-label">字体大小：</label>
						<div class="col-sm-1">
							<input type="number" name="fontSize" class="form-control" value="18"/>
						</div>
						<label class="col-sm-1 control-label">字体颜色：</label>
						<div class="col-sm-1 color-width">
							<input name="color"
							       type="text"
							       class="form-control required jscolor"
							       value="#1C1B26"
							       placeholder="">
						</div>
						<label class="col-sm-1 control-label">透明度：</label>
						<div class="col-sm-1">
							<input type="number" name="colorAlp" class="form-control" min="0.01" max="1.0" step="0.01"
							       value="0.5"/>
						</div>
					</div>
					<div class="form-group img-description">
						<label class="col-sm-1 control-label title-label align-style">对齐方式：</label>
						<div class="col-sm-1">
							<select name="horizontalAlign" class="form-control horizontal-style">
								<option value="left">居左</option>
								<option value="center" selected>居中</option>
								<option value="right">居右</option>
							</select>
						</div>
						<label class="col-sm-1 control-label head-style">上边距：</label>
						<div class="col-sm-1">
							<input type="number" name="headSpacing" class="form-control" value="12"/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary save-article">保存</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 修改官方文章段落 -->
	<div class="modal" id="titleModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
							class="sr-only">Close</span></button>
					<h4 class="modal-title">修改官方文章段落</h4>
				</div>
				<div class="modal-body">
					<div class="form-group small-title">
						<label class="col-sm-1 control-label title-label">小标题：</label>
						<div class="col-sm-2">
							<input type="text" name="content" class="form-control" placeholder="不填则不保存整行数据"/>
						</div>
						<label class="col-sm-1 control-label">字体：</label>
						<div class="col-sm-2 font-width">
							<select name="fontName" class="form-control">
								<option value="PingFangSC-Semibold">苹方-简 中粗体</option>
								<option value="PingFangSC-Medium" selected>苹方-简 中黑体</option>
								<option value="PingFangSC-Regular">苹方-简 常规体</option>
							</select>
						</div>
						<label class="col-sm-1 control-label">字体大小：</label>
						<div class="col-sm-1">
							<input type="number" name="fontSize" class="form-control" value="20"/>
						</div>
						<label class="col-sm-1 control-label">字体颜色：</label>
						<div class="col-sm-1 color-width">
							<input name="color"
							       type="text"
							       class="form-control required jscolor"
							       value="#000000"
							       placeholder="">
						</div>
						<label class="col-sm-1 control-label">透明度：</label>
						<div class="col-sm-1">
							<input type="number" name="colorAlp" class="form-control" min="0.01" max="1.0" step="0.01"
							       value="1"/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary update" data-ind="">保存</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 修改官方文章正文段落 -->
	<div class="modal" id="normalModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
							class="sr-only">Close</span></button>
					<h4 class="modal-title">修改官方文章段落</h4>
				</div>
				<div class="modal-body">
					<div class="form-group article-content">
						<label class="col-sm-1 control-label title-label">正文：</label>
						<div class="col-sm-2">
							<input name="content" class="form-control" rows="4"/>
						</div>
						<label class="col-sm-1 control-label">图片：</label>
						<div class="col-sm-1 font-width">
							<div id="upload_img_show"></div>
							<input name="textImage" type="hidden" class="form-control" placeholder="请点击上传图片"
							       data-msg-required="请上传图片" readonly/>
						</div>
						<label class="col-sm-1 control-label">图片跳转链接：</label>
						<div class="col-sm-1">
							<input type="text" name="jumpModel" class="form-control"/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary update" data-index="">保存</button>
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	#previewModal .modal-dialog {
		width: 320px;
	}

	#previewModal .modal-body {
		padding: 0;
		height: 538px;
	}

	.maxWidth {
		max-width: 600px;
		padding-right: 20px;
		float: left;
	}

	.maxWidth div.form-group {
		max-width: 600px;
	}

	.buttons {
		position: fixed;
		bottom: 30px;
		z-index: 2;
	}

	.gbin1-list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.gbin1-list li {
		min-width: 100px;
		min-height: 100px;
		float: left;
		text-align: center;
		margin: 5px;
		padding: 4px;
		border: 1px solid #ddd;
		border-radius: 4px;
	}

	.col-sm-3 {
		width: 19%;
	}

	.form-horizontal .form-group {
		margin-right: 0px;
		margin-left: 0px;
	}

	#dataTable {
		text-align: center;
	}

	#dataTable tr th {
		text-align: center;
		padding-right: 8px;
	}

	.oddrowcolor{
		background-color:#d4e3e5;
	}
	.evenrowcolor{
		background-color:#c3dde0;
	}

	.official-style .modal-dialog {
		width: 1283px;
	}

	.official-style .control-label {
		padding-right: 0;
	}

	.official-style .color-width {
		width: 9%;
	}

	.official-style .font-width {
		width: 12%;
	}

	.official-style .title-label {
		width: 12%;
	}

	.official-style .form-group {
		padding-top: 35px;
	}

	.official-style #upload_img_show {
		width: 123px !important;
		height: 120px !important;
		border: unset !important;
		height: 120px !important;
	}

	.official-style .description-style {
		padding-top: 105px;
	}

	.official-style .align-style {
		width: 8.5%;
		margin-left: 357px;
	}

	.edit-article {
		margin-right: 5px;
	}
	
	.article-style .modal-dialog {
		width: 1024px;
	}

	.horizontal-style {
		width: 119px;
	}

	.head-style {
		margin-left: 45px;
	}

	#titleModal .modal-dialog {
		width: 1224px;
	}

	#normalModal .modal-dialog {
		width: 1224px;
	}
</style>

<script>
	// 新版发动态处理JS
	var Page;
	(function ($) {

		Page = {
			data: {
				isOfficial: true,
				dataTable: {},
				refresh: undefined,
				typeOptions: {
					'1': '默认模板',
					'2': '正常模板',
					'3': '公告模板'
				},
				dynamicArticleList: [],
				dynamicArticle: {
					content: '',
					images: [],
					status: 1,
					// type标识: 1: 默认样式,也就是正文 2: 自定义样式,小标题/二级小标题/图片描述
					type: 2,
					styleList: [

					]
				},
				style: {
					// type标识: 1: 小标题 2: 二级小标题 4: 图片描述
					type: 1,
					fontName: '',
					fontSize: undefined,
					color: '',
					client: '',
					extendParams: {
						horizontalAlign: '',
						headSpacing: undefined
					}
				},
				// type标识: 1: 小标题 2: 二级小标题 3: 正文 4: 图片描述
				titleType: undefined,
				articleRow: {
					xTitle: '',
					eTitle: '',
					zTitle: '',
					tTitle: ''
				},
				image: {
					url: ''
				}
			},
			init: function () {
				this.initClickEvent();
				this.initTemplateTable();
				this.initUploadImage();
				this.showArticleTable();
			},
			initClickEvent: function () {
				// 切换用户类型
				$("#dynamicDataForm").on("click", "select[name=userSource]", function () {
					let _source = $(this).val();
					if (_source == "1") {
						// 普通用户
						$(".normal-show").show();
						$(".official-show").hide();
						// 普通用户查询非公告模版
						Page.data.isOfficial = false
					} else {
						// 官方用户
						$(".normal-show").hide();
						$(".official-show").show();
						// 官方只查询公告模版
						Page.data.isOfficial = true
					}
				});
				// 选择模版弹窗
				$("#dynamicDataForm").on("click", "#templateSelectDom", function () {
					$("#templateModal").modal();
					Page.data.dataTable.page(0).search("").draw();
				});
				// 选择模版事件
				$("#templateModal").on("click", ".select-template", function () {
					// 赋值
					console.log("选择模版id: " + $(this).data("id"));
					$("input[name=templateId]").val($(this).data("id"));
					$("#templateSelectDom").val($(this).data("name"));
					// 关闭弹窗
					$("#templateModal").modal("hide");
				});
				// 编辑官方文章弹窗
				$("#dynamicDataForm").on("click", "#officialArticle", function () {
					// 渲染表格
					Page.showArticleTable();
					// 弹窗
					$("#articleModal").modal();
				});
				// 选择普通用户弹窗
				$("#dynamicDataForm").on("click", "#normalArticle", function () {
					// 弹窗
					console.log("选择普通用户弹窗");
				});
				// 添加段落弹窗
				$("#articleModal").on("click", ".add-article", function () {
					// 弹窗
					$("#officialArticleModal").modal();
				});
				// 更新段落
				$("#titleModal").on("click", ".update", function () {
					let $index = $(this).attr("data-ind");
					let parents = $(this).parents(".modal-content");
					Page.buildArticleData(parents);
					Page.data.dynamicArticle.type = Page.data.dynamicArticleList[$index].type;
					Page.data.dynamicArticle.styleList.forEach(function (item, i) {
						item.type = Page.data.dynamicArticleList[$index].styleList[0].type;
					});
					Page.data.dynamicArticleList[$index] = Page.data.dynamicArticle;
					// 渲染段落表格
					Page.showArticleTable();
					// 关闭弹窗
					$("#titleModal").modal("hide");
				});
				// 更新段落
				$("#normalModal").on("click", ".update", function () {
					// 弹窗
					$("#officialArticleModal").modal();
				});
				// 修改段落弹窗
				$("#articleModal").on("click", ".edit-article", function () {
					let editIndex = $(this).data("ind");
					let editType = $(this).data("type");
					if (editIndex || editIndex == 0) {
						let element = Page.data.dynamicArticleList[editIndex];
						let $modal = $("#titleModal");
						$modal.find("input[name=content]").val(element.content);
						let listElement = element.styleList[0];
						$modal.find("select[name=fontName]").val(listElement.fontName);
						$modal.find("input[name=fontSize]").val(listElement.fontSize);
						let color = listElement.color;
						color = color.replace('#', '');
						let alp_16 = color.substring(0, 2);
						let number = parseInt(alp_16,16);
						$modal.find("input[name=color]").val(color.replace(alp_16, ''));
						// 16进制转10进制,然后四舍五入,并且只保留2位小数点
						$modal.find("input[name=colorAlp]").val((number / 255).toFixed(2));
						$modal.find("button.btn-primary").attr("data-ind", editIndex);
					}
					if (editType == 1) {
						$("#titleModal").modal();
						$("#titleModal .title-label").text("小标题: ");
					}
					if (editType == 2) {
						$("#titleModal").modal();
						$("#titleModal .title-label").text("二级小标题: ");
					}
					if (editType == 3) {
						if (editIndex || editIndex == 0) {
							let element = Page.data.dynamicArticleList[editIndex];
							let $modal = $("#normalModal");
							$modal.find("input[name=content]").val(element.content);
							$modal.find("input[name=textImage]").val(element.images[0].url);
							$modal.find("button.btn-primary").attr("data-ind", editIndex);
						}
						$("#normalModal").modal();
					}
					if (editType == 4) {
						$("#titleModal").modal();
						$("#titleModal .title-label").text("图片描述: ");
					}
				});
				// 删除段落
				$("#articleModal").on("click", ".del-article", function () {
					let $index = $(this).attr("data-ind");
					layer.confirm("确认删除吗？", () => {
						Page.data.dynamicArticleList.splice($index, 1);
						// 渲染段落表格
						Page.showArticleTable();
					})
				});
				// 保存段落
				$("#officialArticleModal").on("click", ".save-article", function () {
					let parents = $(this).parents(".modal-content");
					let _small = parents.find(".small-title");
					let _second = parents.find(".second-title");
					let _article = parents.find(".article-content");
					let _description = parents.find(".img-description");
					// 小标题数据
					if (_small.find("input[name=content]").val()) {
						Page.addArticleData(_small, 1);
					}
					// 二级标题数据
					if (_second.find("input[name=content]").val()) {
						Page.addArticleData(_second, 2);
					}
					// 正文数据
					if (_article.find("textarea[name=content]").val()) {
						Page.addTextArticleData(_article);
					}
					// 图片描述数据
					if (_description.find("input[name=content]").val()) {
						Page.addArticleData(_description, 4);
					}
					console.log(Page.data.dynamicArticleList)
					// 渲染段落表格
					Page.showArticleTable();
					// 关闭弹窗
					$("#officialArticleModal").modal("hide");
				});
			},
			addArticleData: function (dom, type) {
				Page.data.style.type = type;
				Page.buildArticleData(dom);
				// 添加到文章list
				Page.data.dynamicArticleList.push(Object.assign({}, Page.data.dynamicArticle));
			},
			buildArticleData: function (dom) {
				Page.data.dynamicArticle = {};
				Page.data.dynamicArticle.images = []
				Page.data.dynamicArticle.styleList = []
				Page.data.dynamicArticle.content = dom.find("input[name=content]").val();
				Page.data.style.fontName = dom.find("select[name=fontName]").val();
				Page.data.style.fontSize = dom.find("input[name=fontSize]").val();
				Page.data.style.color = dom.find("input[name=color]").val();
				// 处理图片
				if (Page.data.style.color) {
					let _color = "#";
					let _alp = dom.find("input[name=colorAlp]").val();
					if (_alp) {
						// 透明度 * 255 -> 取整 -> 转16进制 -> 转大写
						let _alp16 = parseInt(_alp * 255).toString(16).toUpperCase();
						_color += _alp16;
					}
					Page.data.style.color = _color + Page.data.style.color;
				}
				Page.data.style.client = "ios";
				Page.data.style.extendParams.horizontalAlign = dom.find("select[name=horizontalAlign]").val();
				Page.data.style.extendParams.headSpacing = dom.find("input[name=headSpacing]").val();
				// ios
				Page.data.dynamicArticle.styleList.push(Object.assign({}, Page.data.style));
				// android
				Page.data.style.client = "android";
				Page.data.dynamicArticle.styleList.push(Object.assign({}, Page.data.style));
			},
			addTextArticleData: function (_article) {
				Page.data.dynamicArticle.images = []
				Page.data.dynamicArticle.styleList = []
				// 正文类型为1
				Page.data.dynamicArticle.type = 1
				Page.data.dynamicArticle.content = _article.find("textarea[name=content]").val();
				// 处理正文图片
				Page.data.image.url = _article.find("input[name=textImage]").val();
				if (Page.data.image.url) {
					Page.data.dynamicArticle.images.push(Object.assign({}, Page.data.image));
				}
				// 添加到文章list
				Page.data.dynamicArticleList.push(Object.assign({}, Page.data.dynamicArticle));
			},
			showArticleTable: function () {
				const tableData = Page.data.dynamicArticleList;
				if (!tableData) {
					return false;
				}
				$("#myTbody").empty();
				for(var i in tableData){
					let $article = tableData[i];
					var html = $("<tr></tr>");
					// 标题类型
					if ($article.type == 1) {
						html.append("<td>正文</td>");
						Page.data.titleType = 3;
					}
					if ($article.styleList && $article.styleList.length > 0) {
						let $type = $article.styleList[0].type;
						if ($type == 1) {
							html.append("<td>小标题</td>");
							Page.data.titleType = 1;
						}
						if ($type == 2) {
							html.append("<td>二级小标题</td>");
							Page.data.titleType = 2;
						}
						if ($type == 4) {
							html.append("<td>图片描述</td>");
							Page.data.titleType = 4;
						}
					}
					// 标题内容
					if ($article.content) {
						let subTitle = $article.content;
						if ($article.content.length > 10) {
							subTitle = $article.content.substring(0, 10) + "...";
						}
						html.append("<td>" + "<span data-toggle='tooltip' data-placement='left' title='" + $article.content + "'>" + subTitle + "</span>" + "</td>");
					}
					// 正文图片
					let imgTd = "<td></td>"
					let images = $article.images;
					if (images && images.length > 0) {
						let $url = images[0];
						if ($url) {
							imgTd = "<td>" + "<img src='" + $url + "' alt='...' class='img-rounded'>" + "</td>";
						}
					}
					html.append(imgTd);
					// 操作
					html.append("<td>" + "<a class='btn btn-default edit-article' data-ind='"+ i +"' data-type='"+ Page.data.titleType +"' href='javascript:void(0)' role='button'>修改</a>"
							+ "<a class='btn btn-default del-article' data-ind='"+ i +"' href='javascript:void(0)' role='button'>删除</a>" + "</td>");
					html.appendTo("#myTbody");
				}
				$(function () {
					$('[data-toggle="tooltip"]').tooltip()
				})
			},
			initTemplateTable: function () {
				this.data.dataTable = $('#dataTable').DataTable({
					"ajax": {
						"url": "/v2/dynamic/template/list",
						"type": "post",
						"beforeSend": function () {
							showloading(true);
						},
						"complete": function (data) {
							showloading(false);
						},
						"data": function (d) {
							//过滤排序条件
							var params = {
								"offset": d.start,
								"limit": d.length,
								"draw": d.draw
							};
							var array = $("#searchForm").serializeArray();
							$(array).each(function (i, o) {
								if (o.value != "") {
									params[o.name] = o.value;
								}
							});
							if (Page.data.isOfficial) {
								// 官方号只查询公告模版
								params.type = 3
							} else {
								params.type = undefined
							}
							return params;
						}
					},
					columns: [
						{data: 'id'},
						{data: 'name'},
						{data: 'backgroundImg'},
						{data: 'type'},
						{data: 'createTime'},
						{data: 'id'}
					],
					columnDefs: [
						{
							"targets": [2],
							"data": "backgroundImg",
							"render": function (data, type, full) {
								var img = "";
								if (data != null && data != "") {
									img = "<img src='" + data + "' width='60px' height='60px' />";
								}
								return img;
							}
						},
						{
							"targets": [3],
							"data": "type",
							"render": function (data, type, full) {
								return Page.data.typeOptions[data];
							}
						},
						{
							"targets": [4],
							"data": "createTime",
							"render": function (data, type, full) {
								var time = "";
								if (data != null) {
									time = new Date(data).Format("yyyy-MM-dd hh:mm");
								}
								return time;
							}
						},
						{
							"targets": [5],
							"data": "id",
							"render": function (data, type, full) {
								return "<button type=\"button\" class=\"btn btn-primary select-template\" data-name=" + full.name + "  data-id=" + data + ">选择</button>";
								return pointsOrder;
							}
						}
					]
				});
				$(".search-template").on("click", function (event) {
					event.preventDefault();
					Page.data.dataTable.page(0).search("").draw();
					return false;
				});
				//初始化表单 提交表单使用.valid()方法判断表单有效性
				$("#templateForm").validate();
				//刷新当前页
				this.data.refresh = function () {
					Page.data.dataTable.draw(false);
				};
			},
			initUploadImage: function () {
				var imgUrlUpload = new DragImgUpload("#upload_img_show",{
					callback: function (files) {
						//回调函数，可以传递给后台等等
						var formData = new FormData();
						var file = files[0];
						formData.append("file", file);
						$.ajax({
							url:"/file/uploadImg?project=ad",
							type:"POST",
							data: formData,
							processData : false,
							contentType : false,
							dataType : 'json',
							async : false,
							success : function (result) {
								//成功后的回调事件
								$("input[name=textImage]").val("${imgUrl}" + result.url);
							}
						});
					}
				}, {
					// 传递配置参数
				});
			}
		};

		Page.init();
	})(jQuery);
</script>
</body>
</html>