<!DOCTYPE html>
<html lang="en">
   <head>
   	<base href="http://www.watsons.com.hk/">
      <title>Watsons Hong Kong</title>
      <meta name="apple-mobile-web-app-title" content=".com.hk" />
      <meta name="HandheldFriendly" content="True"/>
      <meta name="MobileOptimized" content="320"/>
      <meta name="viewport" content="width=device-width">
      <meta name="ipaddress" content="215" />
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
      <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta name="description" content=""/>
      <meta name="keywords" content=""/>
      <meta name="robots" content="no-index,no-follow"/>
      <meta name="apple-itunes-app-temp" content="app-id=479512803">
      <meta name="google-play-app" content="app-id=com.ndn.android.watsons">
      <meta charset="utf-8"/>
      <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
      <meta name="format-detection" content="telephone=no"/>
      <link rel="shortcut icon" href="/_ui/desktop/theme-igc/img/favicon.ico" type="image/x-icon"/>
      <link rel="apple-touch-icon" sizes="144x144" href="/_ui/mobile/theme-igc/touch-icon/apple-touch-icon-144x144.png" />
      <link rel="apple-touch-icon" sizes="114x114" href="/_ui/mobile/theme-igc/touch-icon/apple-touch-icon-114x114.png" />
      <link rel="apple-touch-icon" sizes="72x72" href="/_ui/mobile/theme-igc/touch-icon/apple-touch-icon-72x72.png" />
      <link rel="apple-touch-icon" href="/_ui/mobile/theme-igc/touch-icon/apple-touch-icon-57x57.png" />
      <!-- LIBS -->
      <link rel="stylesheet" href="/_ui/mobile/common/css/bootstrap.css?v=2018053014">
      <!-- Mobile Block 1 to 3 css -->
      <link rel="stylesheet" href="/_ui/mobile/theme-igc/css/jquery.fancybox.css?v=2018053014" type="text/css" media="screen" />
      <link rel="stylesheet" href="/_ui/mobile/theme-igc/css/reset.css?v=2018053014">
      <link rel="stylesheet" href="/_ui/mobile/theme-igc/css/style.css?v=2018053014">
      <link rel="stylesheet" href="/_ui/mobile/theme-igc/css/product.css?v=2018053014">
      <link rel="stylesheet" href="/_ui/mobile/theme-igc/css/flexslider.css?v=2018053014">
      <link rel="stylesheet" href="/_ui/mobile/theme-igc/css/asia.css?v=2018053014">
      <link rel="stylesheet" href="/_ui/mobile/theme-igc/css/wtchk.css?v=2018053014">
      <link rel="stylesheet" href="/_ui/mobile/theme-igc/css/global.css?v=2018053014" media="screen" type="text/css">
      <link type="text/css" rel="stylesheet" href="/_ui/mobile/theme-igc/css/asiaTemplate.css?v=2018053014">
      <link rel="stylesheet" href="/_ui/mobile/theme-igc/css/slick.css?v=2018053014">
   </head>
   <body class="language-en"  style="null" >
      <!-- LIBS -->
      <script src="/_ui/mobile/theme-igc/js/vendor/modernizr-2.6.1.min.js?v=2018053014"></script>
      <script src="/_ui/mobile/theme-igc/js/vendor/jquery-1.8.1.js?v=2018053014"></script>
      <script src="/_ui/mobile/theme-igc/js/vendor/jquery-ui-1.8.23.custom.min.js?v=2018053014"></script>
      <script src="/_ui/mobile/theme-igc/js/vendor/jquery.validate.min.js?v=2018053014"></script>
      <script src="/_ui/mobile/theme-igc/js/vendor/jquery.ui.selectmenu.js?v=2018053014"></script>
      <script src="/_ui/mobile/theme-igc/js/vendor/jquery.cookie.js?v=2018053014"></script>
      <script src="/_ui/mobile/theme-igc/js/vendor/jquery.ui.selectmenu.js?v=2018053014"></script>
      <script src="/_ui/mobile/theme-igc/js/vendor/jquery.ui.touch-punch.min.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/vendor/jquery.tooltip.min.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/bundle.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/common/js/vendor/jquery.raty.min.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/vendor/jquery.flexslider.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/vendor/jquery.fancybox.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/vendor/jquery.blockUI.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/common/js/vendor/yqlgeo.js?v=2018053014"></script>
      <!-- DEVE ESSERE SOSTITUITA ALLA PRIMA CON LA CORRETTA API KEY
         <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&sensor=false&language=zh-TW"></script> -->
      <!-- <script type="text/javascript" src="js/vendor/gmap3.min.js"></script> -->
      <!-- /LIBS -->
      <script src="/_ui/mobile/common/js/main.js?v=2018053014"></script>
      <script src="/_ui/mobile/theme-igc/js/main.js?v=2018053014"></script>
      <script src="/_ui/mobile/common/js/igcmain.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/common/js/vendor/jquery.cycle2.min.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/common/js/vendor/jquery.cycle2.carousel.min.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/common/js/vendor/mejs/mediaelement-and-player.min.js?v=2018053014"></script>
      <script src="/_ui/mobile/common/js/jquery.tmpl-1.0.0pre.min.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/vendor/jquery.textareaCounter.plugin.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/vendor/iscroll.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/vendor/jquery.scrollTo.min.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/vendor/jquery.isloading.min.js?v=2018053014"></script>
      <script src="/_ui/mobile/theme-igc/js/data.js?v=2018053014"></script>
      <script src="/_ui/mobile/theme-igc/js/gtm.fn.js?v=2018053014"></script>  	    
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/global.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/powerlistmenu.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/slick.min.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/masonry.pkgd.min.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/jquery.panzoom.min.js?v=2018053014"></script>
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/custom/product/jquery.freegift.js?v=2018053014" ></script>
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/custom/product/jquery.product.js?v=2018053014" ></script>
      <script type="text/javascript">
         /**
          * Execute an ajax call to the url with the specified data.
          *
          * @param url: the url for the ajax call.
          * @param form_data: the data to send to the url.
          * @param successFunction: the success function, call it with successFunction(responseData).
          * @param errorFunction: the error function, call it with errorFunction(xhr, ajaxOptions, thrownError).
          */
         /* function doGet(url, form_data, successFunction, errorFunction) {
         	responseData = null;
         	
         	$.ajax({
         		type: "GET",
         		url: url,
         		data: form_data,
         		cache: false,
         		success: function(responseData) {
         			successFunction(responseData);
         		},
         		error: function(xhr, ajaxOptions, thrownError) {
         			errorFunction(xhr, ajaxOptions, thrownError);
         		}
         	});
         
         	return false;
         } */
         function showLoadingDiv(){
                $.isLoading({
                       'text': "",
                       'tpl': '<span style="display: block;margin-top:300px;">%text%<img src="/_ui/mobile/theme-igc/img/loader.gif" /></span>'
                }); 
         }
         
         function closeLoadingDiv(){
                $.isLoading("hide");
                $('.isloading-overlay').hide();
         }
         function callback(data, currentMessage) {
         	if(data > 0) {
         		openFreeItemsPopup(data, currentMessage);
         	} else {
         		updateAndShowMiniCart(data);
         	}
         }
         
         function cdoGet(form_data, url,myCallback,methodType,dataType,errorCallBack) {
         	showLoadingDiv();
         	responseData = null;
         	if(methodType==undefined||methodType==null)methodType="get";
         	if(dataType==undefined||dataType==null)dataType="html";
         	$.ajax({
         		type: methodType,
         		url: url,
         		data: form_data,
         		cache: false,
         		dataType : dataType,
         		success: function(responseData) {
         			var hasError = isErrorPopup(responseData);
         			if (hasError) {
         				openContentPopup(responseData);
         				closeLoadingDiv();
         			}else {
         				if(errorCallBack!=undefined&&errorCallBack!=null&&typeof(errorCallBack)=='function'
         					&&$(responseData).find("input[name='errors']").length>0){
         					errorCallBack.call(this,responseData);																
         				}else{
         					if(myCallback!=undefined&&myCallback!=null&&typeof(myCallback)== 'function' ){
         						myCallback.call(this,responseData);
         					}else
         						callback(responseData, 0);
         				}
         				closeLoadingDiv();
         			}
         			$(".branchBankCodeSelectId-menu").show().css({"z-index":"-1"});
         			$(".branchBankCodeSelectId-menu").mCustomScrollbar("update");
         		},
         		error:function(responseData){
         			//alert("error:"+responseData.status);
         		}
         	});
         	return false;
         }
         function doGet(form_data, url,myCallback,methodType,dataType,errorCallBack) {
         	responseData = null;
         	if(methodType==undefined||methodType==null)methodType="get";
         	if(dataType==undefined||dataType==null)dataType="html";
         	$.ajax({
         		type: methodType,
         		url: url,
         		data: form_data,
         		cache: false,
         		dataType : dataType,
         		success: function(responseData) {
         			// alert("success:"+responseData.status);
         			var hasError = isErrorPopup(responseData);
         			if (hasError) {
         				openContentPopup(responseData);
         			}else {
         				if(errorCallBack!=undefined&&errorCallBack!=null&&typeof(errorCallBack)=='function'
         					&&$(responseData).find("input[name='errors']").length>0){
         					errorCallBack.call(this,responseData);																
         				}else{
         					if(myCallback!=undefined&&myCallback!=null&&typeof(myCallback)== 'function' ){
         						myCallback.call(this,responseData);
         					}else
         						callback(responseData, 0);
         				}	
         			}
         		},
         		error:function(responseData){
         			// alert("error:"+responseData.status);
         			return false;
         		}
         	});
         	return false;
         }
         /**
          * Check if the data is an error popup or not.
          *
          * @param responseData - the response data of the ajax call.
          *
          * @return: true if is an error popup, false otherwise.
          */
         function isErrorPopup(responseData) {
         	
         	var openErrorPopup = $(responseData).andSelf().find("#serviceUnavailable");
         	var minicartShippableToPRCErrorPopup = $(responseData).find("#minicartShippableToPRCErrorPopup");
         
         	var hasError = $(openErrorPopup).size() > 0;
         	var hasMinicartError = $(minicartShippableToPRCErrorPopup).size() > 0;
         	
         	var errorFlag=false;
         	if(hasError || hasMinicartError){
         		errorFlag=true;
         	}
         	return errorFlag;
         }
         
         function changeRegion(code,subSelectId,url){
         	var id="#"+subSelectId;
         	// alert(id);
         	var success=function(list){
         		// alert(list);
         		$(id).selectmenu("disable");
         		$(id).html("");
         		$("<option value=''>Please select</option>").appendTo($(id));
         		for(var i=0;i<list.length;i++){
         			$("<option>").val(list[i]['code']).text(list[i]['name']+" "+list[i]['code']).appendTo($(id));
         		}
         		// $(id).selectmenu("destory").selectmenu();
         		$(id).selectmenu('open');
         	}
         	if($.trim(code)==""){
         		success.call(this,new Array());
         		return;
         	}
         	doGet(null,url,success,"get","json");		
         }	
         
         function showAndHide(ele,delayTime){
         	$(ele).show();
         	if(delayTime==undefined||!$.isNumeric(delayTime))delayTime=5000;
         	setTimeout(function(){$(ele).hide()},delayTime);
         }
         
         function changeRegion(code,subSelectId,url,successCall){
         	var id="#"+subSelectId;
         	// alert(id);
         	var success=function(list){
         		// alert(list);
         		$(id).selectmenu("disable");
         		$(id).html("");
         		$("<option value=''>Please select</option>").appendTo($(id));
         		for(var i=0;i<list.length;i++){
         			$("<option>").val(list[i]['code']).text(list[i]['name']+" "+list[i]['code']).appendTo($(id));
         		}
         		// $(id).selectmenu("destory").selectmenu();
         		$(id).selectmenu('open');
         		
         		successCall();
         	}
         	if($.trim(code)==""){
         		success.call(this,new Array());
         		return;
         	}
         	doGet(null,url,success,"get","json");		
         }	
         
         function changeRegionOpen(code,subSelectId,url,isAsync,districtCode){
         	// return;
         	var id="#"+subSelectId;
         	var success=function(list){
         		// alert(list);
         		// $(id).selectmenu("disable");
         		$(id).html("");
         		$("<option value=''>Please select</option>").appendTo($(id));
         		for(var i=0;i<list.length;i++){
         			$("<option>").val(list[i]['code']).text(list[i]['name']+" "+list[i]['code']).appendTo($(id));
         		}
         		// $(id).selectmenu("destory").selectmenu();
         		$(id).val(districtCode);
         		// $(id).selectmenu("value",districtCode); 
         	}
         	if($.trim(code)==""){
         		success.call(this,new Array());
         		return;
         	} 
         	doGetAsync(null,url,success,"get","json",null, false);		
         }
         function doGetAsync(form_data, url,myCallback,methodType,dataType,errorCallBack,isAsync) {
         	responseData = null;
         	if(methodType==undefined||methodType==null)methodType="get";
         	if(dataType==undefined||dataType==null)dataType="html";
         	$.ajax({
         		type: methodType,
         		url: url,
         		data: form_data,
         		cache: false,
         		async:isAsync,
         		dataType : dataType,
         		success: function(responseData) {
         			var hasError = isErrorPopup(responseData);
         			if (hasError) {
         				openContentPopup(responseData);
         			}else {
         				if(errorCallBack!=undefined&&errorCallBack!=null&&typeof(errorCallBack)=='function'
         					&&$(responseData).find("input[name='errors']").length>0){
         					errorCallBack.call(this,responseData);																
         				}else{
         					if(myCallback!=undefined&&myCallback!=null&&typeof(myCallback)== 'function' ){
         						myCallback.call(this,responseData);
         					}else
         						callback(responseData, 0);
         				}	
         			}
         		},
         		error:function(responseData){
         			//alert("error:"+responseData.status);
         		}
         	});
         	return false;
         }
         function changeRegionOriginal(code,selectId,url,districtCode){
         	var selectObj=$(selectId);
         	var success=function(list){
         		$(selectObj).html("");
         		$("<option value=''>Please select</option>").appendTo($(selectObj));
         		for(var i=0;i<list.length;i++){
         			$("<option>").val(list[i]['code']).text(list[i]['name']).appendTo($(selectObj));
         		}
         		$(selectObj).val(districtCode);
         	}
         	if($.trim(code)==""){
         		success.call(this,new Array());
         		return;
         	}
         	return doGet(null,url,success,"get","json");		
         }
      </script>
      <!-- Mobile Block 1 to 3 javascript -->	
      <script type="text/javascript" src="/_ui/mobile/theme-igc/js/quickViewPopup.js?v=2018053014"></script>
      <div id="globalWrapper" data-role="page" data-url="/">
         <div id="mainContent">
            <!-- Header -->
            <div id="mainmenu" class="clearfix secure-checkout-header">
               <div class="logo">
                  <a href="/">
                  <img title="" src="/medias/sys_master/he4/h98/8848915169310/FullLeafShapeWatsonsLogo-02.png" alt="" />
                  </a>
               </div>
               <div class="title-bar">
                  <div class="fl">
                     <img src="/_ui/mobile/theme-igc/img/img_checkoutSecureLock.jpg" alt="Secure Checkout" class="mr10 lock-icon"/>
                  </div>
                  <div class="fl desc-text">Secure Checkout</div>
               </div>
            </div>
            <!-- /Header -->
            <div data-role="content" data-theme="d" data-content-theme="d"
               id="skip-to-content" class="">
               <div style="display:none;">order_create_marker_for_psp_data_feed_pulling</div>
               <div class="checkoutTitle mt20 clearFix">
                  <ul>
                     <li>
                        <a href="#">
                           <b>1</b>
                           <p>Payment and Delivery</p>
                        </a>
                     </li>
                     <li>
                        <a href="#"  class="fontGreen">
                           <b>2</b>
                           <p>Confirmation</p>
                        </a>
                     </li>
                  </ul>
               </div>
               <div class="checkoutBack"><strong>Confirmation</strong></div>
               <style>
               		.actModule{
               			text-align: center;
               		}
               		.actModule .fontGreen{
               			margin-bottom: 10px;
               		}
               		.citi_pwp{
			      		margin: 20px 0;
			      	}
			      	.citi_pwp .amount{
			      		font-weight: 500;
			      	}
			      	.citi_pwp .citi_pwp_remind{
			      		margin: 10px 0 20px;
			      		color: #009AA9;
			      	}
               </style>
               <div class="actModule clearfix">
                  <div class="fontGreen">Thank you!</div>
                  <div>
                     You payment for your order has been received. An email confirmation and receipt with be sent out to you shortly.
                  </div>
                  <div class="citi_pwp">
                  	<div class="amount">Transaction Amount: <span class="total">$2,625.00</span></div>
                  	<div class="citi_pwp_remind">You may now use <span>"Citi Pay with Points"</span> to offset the payment</div>
                  	<div class="pwp_button">
                  		<input class="pink-btn-style" value="Pay with Points now">
                  	</div>
                  </div>
               </div>
               <input name="show" type="hidden" value=""/>
               <div class="actModule dotTop clearfix">
                  <p class="receivelist2"><span><strong>Order Number</strong>:</span>00117743</p>
                  <p class="receivelist2 mt15"><span><strong>Delivery method</strong>:</span>
                     Home Delivery
                  </p>
                  <!-- TBC: the working day is always 2-5? put it in to property file -->
                  <p class="mt15">
                     <span><strong>Delivery Time</strong></span>
                     <br />
                     In 1 working day, <br> <a href="/deliverynotice" style="display:inline"><u>Not applicable to certain situations</u></a>.
                  </p>
                  <p class="mt15">
                     <span style="font-weight:bold;">
                     <strong>Delivery Address:</strong>
                     </span>
                  </p>
                  <p >Leung&nbsp;Tommy</p>
                  <p> 
                     97360047
                  </p>
                  <p>		
                  </p>
                  <p>
                     1
                  </p>
                  <!-- SF Express Delivery Address -->
                  <p>New Territories</p>
                  <p>Hong Kong</p>
               </div>
               <div class="pd20 proInfor clearfix dotBot">
                  <p class="tit">Order Summary</p>
               </div>
               <ul class="item-list">
                  <li class="container-fluid">
                     <div class="proItem cheout3pro clearfix">
                        <div class="pro" style="width: 100px;">
                           <a href="/product-nespray/nestle-nespray-2200g/p/100192" >
                              <!---->
                              <!---->
                              <img src="/_ui/mobile/theme-igc/img/PRODUCT_PLACEHOLDER-PRODUCT DETAIL BIG_240x240px.jpg" alt="Product size_MB1" title="Product size_MB1" width="" height="" style="width:100%;">
                           </a>
                           <span class="icon_exclusive"></span>
                        </div>
                        <div class="info">
                           <h4>
                              NESPRAY<a style="float:right" href="javascript:void(0);" class="btnAddStar" id="hrefAddWishList" onClick="openPopOver('/product-nespray/nestle-nespray-2200g/p/100192/chooseWishlist?codeVariant=100192&quantity=1&redirectPath=')">
                              <em class="iconToolWish" wish_list_star_100192></em>
                              </a>
                           </h4>
                           <h5 class="fontsize13">Nestle NESPRAY 2200g</h5>
                           <!-- rrp -->
                           <div class="rrplines">
                              HK$283.90
                           </div>
                           <!-- rrp -->
                           <!-- member price -->
                           <div>
                              <span>
                              </span>
                           </div>
                           <!-- member price -->
                           <!-- promotiontag -->
                           <ul class="product_active 111111111111111 ">
                              <!-- judge show how many green tag or red tag -->
                              <!-- judge show how many green tag or red tag -->
                           </ul>
                           <ul style="clear:left;"></ul>
                           <ul class="product_active 111111111111111 ">
                              <!-- judge show how many green tag or red tag -->
                              <!-- judge show how many green tag or red tag -->
                           </ul>
                           <ul style="clear:left;"></ul>
                           <!-- promotiontag -->
                        </div>
                        <div class="checkoutadd">
                           <div class="graphic">
                              <h5>
                              </h5>
                              <div class="graphic">
                                 <h5>Qty 2</h5>
                              </div>
                              <div class="graphic">
                                 <h5>Code 100192</h5>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="receivelist priceLineTotal pad20">
                        <b>Item Total: HK$567.80</b>
                     </div>
                     <script>
                        try {
                        	ga('ec:addProduct', {
                        		'id': "100192", // Product ID.
                        		'name': "Nestle NESPRAY 2200g", // Product name.
                        		'category': "Best Seller", // Product category.
                        		'brand': "NESPRAY", // Product brand.
                        		'variant': "GenericVariant", // Product variant.
                        		'price': 283.9, // Product price.
                        		'quantity': 2 // Product quantity.
                        	});
                        } catch (e) {
                        	// ignore the error
                        }
                     </script>
                  </li>
                  <div class="hidden gtmConfirmation" 
                     data-gtm-confirmation-product-name = "Nestle NESPRAY 2200g"
                     data-gtm-confirmation-product-id = "100192"
                     data-gtm-confirmation-product-rangeName = "Nestle NESPRAY"
                     data-gtm-confirmation-product-category = "//"
                     data-gtm-confirmation-product-brand = "NESPRAY"
                     data-gtm-confirmation-product-variant = "100192"
                     data-gtm-confirmation-product-price = "283.9"
                     data-gtm-confirmation-product-quantity = "2"></div>
               </ul>
               <BR />
               <!-- Payment details -->
               <div class="actModule  clearfix">
                  <p><strong>Payment details</strong></p>
                  <div class=" clearfix">
                     <p class="fl"><strong>Member Points:</strong></p>
                     <p class="fr">HK$0.00 (0&nbsp;points) </p>
                  </div>
                  <div class=" clearfix">
                  </div>
                  <div class=" clearfix">
                     <p class="fl 3"><strong>Credit Card:</strong></p>
                     <p class="fr">HK$567.80</p>
                  </div>
               </div>
               <div class="actModule clearfix actbackColor">
                  <p class="receivelist2">113&nbsp;points<span>Points earned</span></p>
                  <p class="receivelist2" ><b id="EarnedEStampId">13&nbspstamps</b><span>BB x Iris eStamp</span></p>
                  <p class="receivelist2" ><b id="itemsValueId">HK$567.80</b><span>Items</span></p>
                  <p class="receivelist2 "><b id="discountValueId">HK$0.00</b><span>Discount / eCoupon</span></p>
                  <p class="receivelist2 ">&nbsp;<b id="roundingValueId" >HK$0.00</b><span>Rounding</span></p>
                  <hr style="height: 1px; border: 0; border-bottom: 1px #bbb dashed; margin: 5px 0;">
                  <p class="receivelist2">	<b id="subTotalValueId"></b><span style="font-weight:bold;">Sub Total</span></p>
                  <p class="receivelist2">	HK$0.00<span>eVoucher</span></p>
                  <p class="receivelist2">	&nbsp;HK$0.00 (0&nbsp;points)<span>Points equivalent redeemed</span></p>
                  <p class="receivelist2">
                     <b class="check_deliveryline">HK$40.00</b>
                     <span>Delivery</span>
                  </p>
                  <p class="receivelist2" style="color: #E5009F;"><strong>HK$567.80</strong><span><strong>Total</strong></span></p>
                  <p class="receivelist2">
                     (Minimum payment amount of&nbsp;<font class="colorGreen">HK$50.00</font>)
                  </p>
               </div>
               <div class="pb10 clearFix check3mTop10">
               </div>
               <div class="actModule dotTop mt10">
                  <a href="https://infwtchku2t.aswatson.net" class="underline">Back to Home Page</a> 
               </div>
               <script>
                  function GAConfirmation(){
                  try {
                  ga('ec:setAction', 'purchase', {
                  'id': "00117743", // Transaction id.
                  'revenue': "567.8", // Revenue (Optional)
                  'tax': '0.0', // Tax (Optional)
                  });
                  
                  ga('send', 'event', 'Transaction', 'complete', "00117743",{'nonInteraction': 1});
                  } catch (e) {
                  // ignore error
                  }
                  }
                  setTimeout(GAConfirmation, 4000);
                  $(function(){
                  getSubTotal();
                  });
                  
                  function getSubTotal(){
                  var reg = /\d{1,9}(\.[\d]{1,2})*/g; 
                  var itemsAmount=$('#itemsValueId').text().replace(new RegExp(",","gm"),"");
                  itemsAmount = itemsAmount.match(reg);
                  
                  var discountAmount=$('#discountValueId').text().replace(new RegExp(",","gm"),"");
                  var discountFleg=discountAmount.charAt(0);
                  discountAmount = discountAmount.match(reg);
                  var discountAmountFleg=discountAmount.indexOf("-");
                  
                  var roundingAmount=$('#roundingValueId').text().replace(new RegExp(",","gm"),"");
                  var roundingFleg=roundingAmount.indexOf("-");
                  
                  roundingAmount = roundingAmount.match(reg);
                  
                  
                  
                  var subTotal=0.00;
                  //if(discountAmountFleg>=0){
                  subTotal=parseFloat(itemsAmount)-parseFloat(discountAmount);
                  //}else{
                  //	subTotal=parseFloat(itemsAmount)+parseFloat(discountAmount);
                  //}
                  
                  if(roundingFleg>=0){
                  subTotal=subTotal-parseFloat(roundingAmount);
                  }else{
                  subTotal=subTotal+parseFloat(roundingAmount);
                  }
                  
                  $("#subTotalValueId").html("HK$"+fmoney(subTotal,2));
                  return subTotal;
                  }
                  
                  function fmoney(s, n)   
                  {   
                  n = n > 0 && n <= 20 ? n : 2;   
                  s = parseFloat((s + "").replace(/[^\d\.-]/g, "")).toFixed(n) + "";   
                  var l = s.split(".")[0].split("").reverse(),   
                  r = s.split(".")[1];   
                  t = "";   
                  for(i = 0; i < l.length; i ++ )   
                  {   
                     t += l[i] + ((i + 1) % 3 == 0 && (i + 1) != l.length ? "," : "");   
                  }   
                  return t.split("").reverse().join("") + "." + r;   
                  } 
               </script>
               <!-- Start of GTM elements -->
               <input type="hidden" value="uat" id="gtmItemEnvDomain" />
               <input type="hidden" value="mobile" id="gtmItemEnvType" />
               <input type="hidden" value="checkout-confirmation" id="gtmItemPageType" />
               <input type="hidden" value="checkout" id="gtmItemPageSection" />
               <input type="hidden" value="/" id="gtmItemPageCategory" />
               <input type="hidden" value="en" id="gtmItemPageLanguage" />
               <input type="hidden" value="logged" id="gtmItemCustomerLoginStatus" />
               <input type="hidden" value="2590177426102" id="gtmItemCustomerId" />
               <input type="hidden" value="eshopper" id="gtmItemCustomerMemberType" />
               <input type="hidden" value="a95be2633542e03873a3969fe11bb396" id="gtmItemEmailMD5" />
               <input type="hidden" value="34c82d23412e351d1aeac67eb97e3a6cbcefeeabcf575d7219c09365ed6b72c4" id="gtmItemEmailSHA" />
               <input type="hidden" value="0" id="gtmItemBasketNbrProducts" />
               <input type="hidden" value="0.00" id="gtmItemBasketValue" />
               <input type="hidden" value="0.00" id="gtmItemBasketDiscount" />
               <input type="hidden" value="home-delivery" id="gtmItemTransactionDeliveryType" />
               <input type="hidden" value="unknown" id="gtmItemTransactionPaymentType" />
               <input type="hidden" value="0.00" id="gtmItemEvoucherDeducted" />
               <input type="hidden" value="0" id="gtmItemTrasactionPointsDeducted" />
               <input type="hidden" value="0.00" id="gtmItemTransactionPointsDiscount" />
               <input type="hidden" value="113" id="gtmItemTransactionPointsEarned" />
               <input type="hidden" value="567.80" id="gtmItemTransactionNetRevenue" />
               <!-- End of GTM elements -->
               <script>
                  gtmConfirmation("00117743","567.8","0");
               </script>
            </div>
            <div id="footer">
               <div id="toTopBtn">
                  <a href="#"><img src="/_ui/mobile/theme-igc/img/logo/B20.png" alt="toTopBtn" class="img-responsive"></a>
               </div>
               <!-- Lang select start -->
               <div align="center" class="footerCenterDiv">
                  <div class="rrp-note-container">
                     <span class="rrp">RRP</span><span class="rrp-price">stands for Recommended Retail Price.</span>
                  </div>
               </div>
               <div class="socialIMG_no1">
                  <div class="social-btn-container marginBTM30">
                     <a href="http://www.watsons.com.hk/wechatwatsonshongkong" target="">
                     <img alt="WeChat" src="/medias/sys_master/hee/ha8/8844754747422/wechat-mobile.png" class="shareList-img">
                     </a>
                     <a href="http://weibo.com/watsonshk" target="">
                     <img alt="Weibo" src="/medias/sys_master/h55/ha9/8844758122526/Sina_Weibo.svg.png" class="shareList-img">
                     </a>
                     <a href="http://www.watsons.com.hk/GetiWatsonsApp" target="">
                     <img alt="Hong Kong Watsons eStore APP" src="/medias/sys_master/hd4/had/8844795838494/new-watsonsapp.png" class="shareList-img">
                     </a>
                  </div>
                  <div class="" style="margin: 0 10px 5px 10px; display:table;">
                     <div class="no1IMGSection" style="text-align:center">
                        <img title="" src="" alt="" />
                     </div>
                     <div style="/* line-height:1.2; */ display: table-cell; /* font-family: serif; */ vertical-align: middle; width:70%; color:#9e9e9e; padding: 0 0 0 5px">
                        Campaign Asia-Pacific / Nielsen "Asia's Top 1000 Brands online study of over 6000 respondents across 13 markets in Asia Pacific region"
                     </div>
                  </div>
                  <div class="quality" style="margin-bottom:10px;text-align:center;">
                     <a href="https://www.hkrma.org/b5/retail_membership/recognized_qeshops.php" target="_blank">
                     </a>
                  </div>
               </div>
               <div class="footer-link-container">
                  <div class="tnc-container marginBTM30">
                     <br>
                     <a href="/aboutus-mobile" rel="" id="8796094825532"
                        title="About Us"
                        >
                     About Us</a>
                     <span class="sep"></span>
                     <a href="/ourServices-mobile" rel="" id="8796094891068"
                        title="Our Services"
                        >
                     Our Services</a>
                     <span class="sep"></span>
                     <a href="/legal-mobile" rel="" id="8796115862588"
                        title="Legal&lt;br /&gt;"
                        >
                     Legal<br /></a>
                     <br>
                     <a href="/contactUs" rel="" id="8796094956604"
                        title="Contact Us"
                        >
                     Contact Us</a>
                     <span class="sep"></span>
                     <a href="/FAQ-mobile" rel="" id="8796094858300"
                        title="PANADOL"
                        >
                     PANADOL</a>
                     <span class="sep"></span>
                     <a href="http://www.watsons.com.hk/PrivacyPolicy" rel="" id="8796094923836"
                        title="Privacy Policy"
                        >
                     Privacy Policy</a>
                     <br>
                     <a href="/termsConditions-mobile" rel="" id="8796095022140"
                        title="Terms &amp; Conditions"
                        >
                     Terms & Conditions</a>
                     <span class="sep"></span>
                     <a href="/storeLocator" rel="" id="8796123235388"
                        title="Shopping @ Watsons"
                        >
                     Shopping @ Watsons</a>
                     <span class="sep"></span>
                     <a href="/sitemap" rel="" id="8796094989372"
                        title="Sitemap"
                        >
                     Sitemap</a>
                  </div>
                  <a href="?uiel=Desktop" class="icon_desktop">Desktop Version</a>
               </div>
               <div id="cmsparagraphContent" class="content">
                  <div class="footbot">
                     <img alt="Watsons" title="Watsons" src="/_ui/mobile/common/img/logow.jpg" />
                     <div>
                        <p>&copy; All Rights Reserved</p>
                        <img alt="" src="/_ui/mobile/common/img/KH_logo_en.png" />
                     </div>
                  </div>
               </div>
               <!-- Start of GTM elements -->
               <input type="hidden" value="uat" id="gtmItemEnvDomain" />
               <input type="hidden" value="mobile" id="gtmItemEnvType" />
               <input type="hidden" value="static page" id="gtmItemPageType" />
               <input type="hidden" value="static" id="gtmItemPageSection" />
               <input type="hidden" value="/" id="gtmItemPageCategory" />
               <input type="hidden" value="en" id="gtmItemPageLanguage" />
               <input type="hidden" value="logged" id="gtmItemCustomerLoginStatus" />
               <input type="hidden" value="2590177426102" id="gtmItemCustomerId" />
               <input type="hidden" value="eshopper" id="gtmItemCustomerMemberType" />
               <input type="hidden" value="a95be2633542e03873a3969fe11bb396" id="gtmItemEmailMD5" />
               <input type="hidden" value="34c82d23412e351d1aeac67eb97e3a6cbcefeeabcf575d7219c09365ed6b72c4" id="gtmItemEmailSHA" />
               <input type="hidden" value="0" id="gtmItemBasketNbrProducts" />
               <input type="hidden" value="0.00" id="gtmItemBasketValue" />
               <input type="hidden" value="0.00" id="gtmItemBasketDiscount" />
               <!-- End of GTM elements -->
               <div class="social-btn-container marginBTM30">
               </div>
               <div class="footer-copyright clearfix">
                  <div class="copyrightText fl" style="margin-bottom: 20px;">
                     <div class="content">
                        <table>
                           <tr>
                              <td style="margin: 25px 0 0 0px;" class="fooGroup fl" title="">
                              </td>
                              <td class="fooGroup" title="175th">
                              </td>
                           </tr>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Timeout-dialog mobile start -->
            <link href="/_ui/mobile/theme-igc/css/timeout-dialog.css" rel="stylesheet" type="text/css">
            <script src="/_ui/mobile/theme-igc/js/timeout-dialog.js"></script>
            <script type="text/javascript">
               function getQueryString(name){ 
               	var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
               	var r = window.location.search.substr(1).match(reg); 
               	if (r != null) return unescape(r[2]); return null; 
               }
               if(getQueryString("timeout")==null){
               	
               	var paramObj = new Object();
               	paramObj.timeout=3600;
               	paramObj.countdown=60;
               	paramObj.keep_alive_url="/loginSessionTimeConfirm";
               	paramObj.title=null;
               	paramObj.message='Your session will be expired in {0} Seconds, do you want to continue?';
               	paramObj.keep_alive_button_text='OK';
               	paramObj.sign_out_button_text='CANCEL';
               	paramObj.question="";
               	paramObj.logout_redirect_url="/logout";
               	if(window.location.pathname.indexOf("/checkout") !=-1){
               		paramObj.logout_redirect_url="/login/checkout?timeout=Yes";
               	}
               	paramObj.logout_url="/logout";
               	paramObj.restart_on_yes=true;
               	paramObj.dialog_width=500;
               	$.timeoutDialog(paramObj);
               	
               }
            </script>
            <!-- Timeout-dialog mobile end -->
            <!-- Google Tag Manager -->
            <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C7GX"
               height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
               new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
               j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
               '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
               })(window,document,'script','dataLayer','GTM-P7C7GX');
            </script>
            <!-- End Google Tag Manager -->
            <!-- Bing Ad Tracking Code -->
            <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5104918"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
            <noscript><img src="//bat.bing.com/action/0?ti=5104918&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>
            <!-- End Bing Ad Tracking Code -->
         </div>
      </div>
      <script type="text/javascript">
         function googleAnalytics(){
         		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
         		
         		ga('create', 'UA-24603442-3', 'auto');
         		//ga('create', 'UA-24603442-3', 'none');
         		
         			ga('set', '&uid', '2590177426102');
         			ga('set', 'dimension1', 'blue_member');
         		
         		ga('require', 'ec');
         		ga('require', 'displayfeatures');
         		ga('send', 'pageview');
         		
         		
         		
         		$(function() {
         			// top navigation bar
         		
         			
         			// categories left menu in catalogue listing page and PDP
         			$('.menuDown .item p > b').click(function() {                       //04.menu tracking a.set events for the top menu
         				ga('send', 'event', 'Top Menu', 'click', $.trim($(this).text()), 1);
         			});
         			
         			// navigation bar sub-menu
         			$('.menuDown ul > li > a').click(function() {                     //04.menu tracking a.set events for the top menu		
         					ga('send', 'event', 'Top Menu', 'click', $.trim($(this).text()), 2);
         			});
         			
         			
         		});
         		
         		var addItemSuccess=function(data){
         			try {
         				var gaData = $(data).find("#gaCartPopUpData").val();
         				var gaProductDataObj = jQuery.parseJSON(gaData);
         				
         				ga('ec:addProduct', {
         					'id': gaProductDataObj['id'], // Product ID.
         					'name': gaProductDataObj['name'], // Product name.
         					'category': gaProductDataObj['category'], // Product category.
         					'brand': gaProductDataObj['brand'], // Product brand.
         					'variant': gaProductDataObj['variant'], // Product variant.
         					'price': gaProductDataObj['price'], // Product price.
         					'coupon': gaProductDataObj['coupon'], // Make use of coupon field to
         					'quantity': gaProductDataObj['quantity'] // Product quantity.
         				});
         				
         				ga('ec:setAction', 'add');
         				ga('send', 'event', 'UX', 'click', 'Add to Cart');
         			} catch(e) {
         				// do nth here.
         			}
         		}
         		
         		// Store Locator
         		function gaSearchStore(query) {
         			ga('send', 'event', 'Store', 'search', query);
         		}
         		
         		// add to Wish list
         		function addToWishList(id, name, category, brand, variant, popupUrl) {
         			try {
         				ga('ec:addProduct', {
         					'id': id, // Product ID.
         					'name': name, // Product name.
         					'category': category, // Product category.
         					'brand': brand, // Product brand.
         					'variant': variant, // Product variant.
         				});
         				
         				ga('ec:setAction', 'click', {
         					'list': 'Add to Wishlist'
         				});
         				
         				ga('send', 'event', 'UX', 'click', 'Add to Wishlist');
         			} catch (e) {
         				// ignore error
         			}
         			openPopOver(popupUrl);
         		}
         		
         		
         		//social media share 
         		function socialMediaShare(shareTo) {
         			try {
         				ga('ec:addProduct', {
         					'id': '', // Product ID.
         					'name': "", // Product name.
         					'category': "", // Product category.
         					'brand': "", // Product brand.
         					'variant': "", // Product variant.
         					});
         					ga('ec:setAction', 'click', {
         						'list': shareTo // Specify where the product is shared.
         					});
         					ga('send', 'event', 'UX', 'click', shareTo);
         			} catch (e) {
         				// ignore the error
         			}
         		}
         	// Execute the product list GA
         		$(document).ready(
         			function() {
         				$(".gaScript").each(function(){
         					try {
         					    eval($(this).html());
         					} catch (e) {
         						// ignore the error
         					}
         				});
         			}
         	);
         		
         
         }
         $.ajax({
         	url: '//freegeoip.net/json/',
         	error: function(){
                 // will fire when timeout is reached
                 googleAnalytics();
             },
         	success: function(response) {
         		if(response.country_code != "CN") {
         		// do something here
         		googleAnalytics();
         		}
         },
         timeout: 3000
         }); 
         		function addToWishList(id, name, category, brand, variant, popupUrl) {
         			try {
         				ga('ec:addProduct', {
         					'id': id, // Product ID.
         					'name': name, // Product name.
         					'category': category, // Product category.
         					'brand': brand, // Product brand.
         					'variant': variant, // Product variant.
         				});
         				
         				ga('ec:setAction', 'click', {
         					'list': 'Add to Wishlist'
         				});
         				
         				ga('send', 'event', 'UX', 'click', 'Add to Wishlist');
         			} catch (e) {
         				// ignore error
         			}
         			openPopOver(popupUrl);
         		}
         		
         		
         		//social media share 
         		function socialMediaShare(shareTo) {
         			try {
         				ga('ec:addProduct', {
         					'id': '', // Product ID.
         					'name': "", // Product name.
         					'category': "", // Product category.
         					'brand': "", // Product brand.
         					'variant': "", // Product variant.
         					});
         					ga('ec:setAction', 'click', {
         						'list': shareTo // Specify where the product is shared.
         					});
         					ga('send', 'event', 'UX', 'click', shareTo);
         			} catch (e) {
         				// ignore the error
         			}
         		}
      </script>
   </body>
</html>
<div id="connect-popup"
   data-role="content"
   class="top-nav-bar-layer accmob-hotlineBox menu-container"
   style="display: none;"
   data-theme="f"
   data-content-theme="f"
   data-options='{"mode":"blank","headerText":"with","headerClose":true,"blankContent":true,"themeDialog":"f"}'>
   <ul data-role="listview" data-inset="true">
   </ul>
</div>
<script type="text/javascript">
   if (parent.location.href != location.href){
   	$("body").css("display", "none");
   	parent.location.href = location.href;
   }
</script>