<!DOCTYPE html>
<html lang="en" class="zh">
    <head>
        <meta charset="UTF-8">
        <title>Citi Pay with Points Authentication</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <link rel="stylesheet" href="assets/css/fontello.css">
        <link rel="stylesheet" href="assets/css/global.css">
        <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="assets/css/header_footer.css">
        <link rel="stylesheet" href="assets/css/custom-hk.css">
        <script src="assets/js/vendor/jquery-3.0.0.min.js"></script>
        <script src="assets/js/vendor/jquery.placeholder.js"></script>
        <script src="assets/js/vendor/jquery.easing.1.3.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>
        <script src="assets/js/vendor/bootstrap-select.js"></script>
        <script src="assets/js/vendor/jquery.nicescroll.min.js"></script>
        <script src="assets/js/custom-wtchk.js"></script>
    </head>
    <body>
        <div class="pwp_confirmation">
            <div class="pwp_confirmation_popup">
                <div class="close-btn"><a href="javascript:void(0)"><i class="icon-close"></i></a></div>
                <p class="title">Once you leave this page, you cannot return to use Citi Pay with Points to offset this purchase!</p>
                <div class="back-btn">
                    <div class="citi-button-blue"><a href="javascript:void(0)">BACK</a></div>
                    <div class="exit-popup"><a href="">Exit</a></div>
                </div>
            </div>
        </div>
        <div class="globalWrapper">
            <header class="bootstrap">
                <div class="citi-header">
                    <div class="header-container">
                        <div class="left">CITI PAY WITH POINTS</div>
                        <div class="right hidden-xs">Customer Service: +852 1234 5678</div>
                    </div>
                </div>
            </header>
            
            <main class="citi-main authentication">
                <div class="container">
                <div class="brand-logo">
                    <img src="assets/img/Watsons_logo@2x.png">
                    <img src="assets/img/citi-pwp/citi-logo-240.png">
                </div>
                <div class="pwp-msg">
                    <p>Be the first to join our <span>"Citi Pay with Points"</span> plot scheme to offset the purchase you just made at Watsons!</p>
                </div>
                <div class="pwp-card">
                    <p>Service is only available to the principal cardholders of the following Citi Credit Cards:</p>
                    <div class="citi-rewards">
                        <img src="assets/img/citi-pwp/RewardsCard.png">
                        <p>Citi Rewards</p>
                    </div>
                    <div class="citi-premier">
                        <img src="assets/img/citi-pwp/PremierMilesCard.png">
                        <p>Citi Premier Miles</p>
                    </div>
                    <div class="citi-prestige">
                        <img src="assets/img/citi-pwp/PrestigeCard.png">
                        <p>Citi Prestige</p>
                    </div>
                    <div class="message">
                        <p>By clicking "Continue", I agree and accept the <a href="#">Privacy Policy and Terms and Conditions</a>, and read the <a>latest delivery arrangements</a>.</p>
                    </div>
                </div>
                <div class="confirmation">
                    <div class="citi-button-blue"><a href="#">CONTINUE</a></div>
                    <div class="continue-shopping"><a href="#">Not now, continue shopping</a></div>
                </div>
            </div><!--End of container-->
            </main>
            <footer class="bootstrap citi-footer">
                <div class="contact hidden-sm hidden-md hidden-lg">
                    Customer Service: +852 1234 5678
                </div> <!--End of Footer contact -->
                <div class="copyright">
                    Copyright &#169; 2018 Watsons. All Right Reserved.
                </div>
            </footer>
        </div>
    </body>
</html>