<!DOCTYPE html>
<html lang="en" class="zh">
    <head>
        <meta charset="UTF-8">
        <title>Citi Pay with Points OTP</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <link rel="stylesheet" href="assets/css/fontello.css">
        <link rel="stylesheet" href="assets/css/global.css">
        <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="assets/css/header_footer.css">
        <link rel="stylesheet" href="assets/css/custom-hk.css">
        <script src="assets/js/vendor/jquery-3.0.0.min.js"></script>
        <script src="assets/js/vendor/jquery.placeholder.js"></script>
        <script src="assets/js/vendor/jquery.easing.1.3.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>
        <script src="assets/js/vendor/bootstrap-select.js"></script>
        <script src="assets/js/vendor/jquery.nicescroll.min.js"></script>
        <script src="assets/js/custom-wtchk.js"></script>
    </head>
    <body>
        <div class="globalWrapper">
            <header class="bootstrap">
                <div class="citi-header">
                    <div class="header-container">
                        <div class="left">CITI PAY WITH POINTS</div>
                        <div class="right hidden-xs">Customer Service: +852 1234 5678</div>
                    </div>
                </div>
            </header>
            
            <main class="citi-main">
                <div class="container">
                <div class="brand-logo">
                    <img src="assets/img/Watsons_logo@2x.png">
                    <img src="assets/img/citi-pwp/citi-logo-240.png">
                </div>
                <div class="otp-title">
                    <img src="assets/img/citi-pwp/success.png">
                    <p class="otp-fail">Successful Redemption</p>
                </div>
                <div class="otp-success-msg">
                    <p>
                        Citi will <span>deduct 2,500 Points</span> and <span>credit HK$30</span> to your Citi credit card <span>****0220</span>. This will be reflected in your card account statement. 
                    </p>
                </div>
                <div class="confirmation">
                    <div class="citi-button-blue" id="finish-shopping"><a href="#">FINISH</a></div>
                </div>
                </div><!--End of container-->
            </main>
            <footer class="bootstrap citi-footer">
                <div class="contact hidden-sm hidden-md hidden-lg">
                    Customer Service: +852 1234 5678
                </div> <!--End of Footer contact -->
                <div class="copyright">
                    Copyright &#169; 2018 Watsons. All Right Reserved.
                </div>
            </footer>
        </div>
    </body>
</html>