.mobile-searching .header-apps-download {
  display: none !important;
}

.header-apps-download {
  display: none;
  position: relative;
  background-color: #e5f5f5;
  padding: 8px 50px 8px 40px;
  min-height: 52px;
}

@media (max-width: 980px) {
  .header-apps-download {
    display: block;
  }
}

.header-apps-download .msg-txt {
  position: absolute;
  position: absolute;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 44px;
  padding-right: 50px;
}

.header-apps-download .msg-txt .small-logo {
  left: -5px;
  height: 46px;
  position: absolute;
  position: absolute;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-apps-download .close-btn {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  padding: 15px;
  display: inline-block;
  cursor: pointer;
}

.header-apps-download .close-btn i {
  position: absolute;
  position: absolute;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-apps-download .open-btn {
  display: inline-block;
  position: absolute;
  color: #019aa8;
  right: 0px;
  top: 0px;
  height: 100%;
  padding: 15px;
  font-weight: 500;
  font-size: 1.2rem;
  width: 50px;
}

.header-apps-download .open-btn span {
  white-space: nowrap;
  position: absolute;
  position: absolute;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.has-apps-download-bar {
  position: absolute;
  display: none;
}

.has-apps-download-bar ~ header .header-apps-download {
  display: none;
}

@media (max-width: 980px) {
  .has-apps-download-bar ~ header ~ main.homepage {
    margin-top: 96px;
  }
}

@media (max-width: 980px) {
  .has-apps-download-bar:checked ~ header .header-apps-download {
    display: block;
  }
}

@media (max-width: 980px) {
  .has-apps-download-bar:checked ~ header ~ main.homepage {
    margin-top: 147px;
  }
}
