@charset "UTF-8";

@import 'function';

$desktop-hi: 1280px;
$tablet01: 980px;
$tablet: 768px;
$mobile: 414px;

.span-24 {
  &.section2 {
    // border: 1px solid #000;
    margin: 0px;
    .span-20 {
      margin: 0px;
      display: done;
    }
  }
}
.one-pass {
  margin-top: 0px;
  // border: 1px solid #000;
  padding: 0px 0px;
  .container {
    // border: 1px solid red;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    .bottom-btn {
      // border: 1px solid #000;
      .right-btn {
        // border: 1px solid #000 !important;
        padding: 15px;
        .green-btn {
          @media (max-width: $tablet) {
            a {
              width: 100%;
              // border: 1px solid #000 !important;
            }
          }
        }
      }
    }
    .top-banner {
      display: block;
      // border: 1px solid #000;
      > img {
        width: 100%;
      }
    }
    .tree-cards {
      background-color: #f4f4f4;
      text-align: center;
      vertical-align: top;
      padding: 10px 0px;
      // border-bottom: 10px solid red;
      .tree-cards-img {
        // border-bottom: 10px solid red;
        width: 38%;
        vertical-align: top;
      }
      .right-region {
        // border: 1px solid #000;
        display: inline-block;
        width: 55%;
        text-align: left;
        margin-left: 4px;
        padding-top: 5px;
      }
      .download-app-text {
        // border: 1px solid #000;
        display: inline-block;
        line-height: 1.3em;
        font-size: 0.7rem;
        width: 100%;
        font-weight: 500;
        color: #3a3a3a;
        padding: 5px 0px;
      }
      .download-app-btn {
        // border: 1px solid #000;
        padding: 5px 0px;
        // display: inline-block;
        // width: 380px;
        a {
          display: inline-block;
        }
        .btn-google,
        .btn-ios {
          height: 23px;
          margin-right: 3px;
        }
        .btn-google {
        }
      }
    }
    .how-to {
      text-align: center;
      // border: 1px solid #000;
      padding: 0px 20px;
      margin: auto;
      .hd-title {
        font-weight: 500;
        color: #0096a5;
        font-size: 1.1rem;
        text-align: center;
        padding: 20px 0px;
      }
      .three-steps-img {
        width: 100%;
        // border: 1px solid #000;
      }
      .three-steps-text {
        // border: 1px solid #000;
        font-size: 0.8rem;
        margin-top: 20px;
        margin-bottom: 20px;
        .text-reg {
          line-height: 1.3em;
          color: #555;
          display: inline-block;
          // border: 1px solid #000;
          width: 28%;
          font-weight: 500;
          vertical-align: top;
          &:nth-of-type(2) {
            // border: 1px solid red;
            margin: 0px 6%;
          }
        }
      }
    }
    .rate {
      // border: 1px solid #000;
      padding: 15px;
      padding-top: 0px;
      .sub-title {
        text-align: center;
        color: #0099a8;
        font-weight: 500;
        font-size: 1.1rem;
        padding: 20px;
      }
      .sub-box {
        margin: 0px 0px 15px 0px;
        @include border-radius(24px);
        overflow: hidden;
        .sub-header {
          padding: 8px 0px;
          font-size: 0.8rem;
          // border: 1px solid #000;
          background-color: #e5f3f7;
          text-align: center;
          color: #555;
          font-weight: 500;
          .money-back-logo {
            margin: 0px 4px;
            height: 20px;
            vertical-align: middle;
          }
          span {
            color: #0099a8;
            margin-right: 0.5rem;
          }
        }
        .sub-content {
          background-color: #f6f6f6;
          padding: 25px;
          padding-bottom: 10px;
          text-align: center;
          .country-icons {
            list-style: none;
            padding: 0px;
            margin: 0px auto;
            //border: 1px solid #000;
            font-size: 0px;
            text-align: center;
            > li {
              text-align: left;
              vertical-align: top;
              // border: 1px solid #000;
              display: inline-block;
              width: 100%;
              margin: 0px;
              padding: 0px 25px 25px 20%;
              font-size: 1.5rem;
              font-weight: 500;
              img {
                width: 45px;
                @include border-radius(50%);
              }
              .c-left {
                vertical-align: top;
                // border: 1px solid #000;
                display: inline-block;
                margin-top: 5px;
                margin-left: 5px;
                .c-name {
                  font-size: 1rem;
                  color: #0099a8;
                  margin-bottom: 5px;
                }
                .c-rate {
                  font-size: 1rem;
                  color: #666;
                }
              }
            }
          }
        }
      }
    }
    .terms {
      color: #666;
      // border: 1px solid #000;
      text-align: center;
      padding-bottom: 10px;
      a {
        font-size: 0.8rem;
        color: #666;
        text-decoration: underline;
      }
    }
  }
  .watson-offer {
    background-color: #e5f3f7;
    .container {
      padding: 40px 0px;
      .hd-title {
        font-size: 1.3rem;
        font-weight: 500;
        color: #e86ca9;
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
        line-height: 1.3em;
        width: 80%;
      }
      .text-line {
        font-size: 0.9rem;
        text-align: center;
        width: 80%;
        margin: auto;
        line-height: 1.3em;
      }
      .sep {
        text-align: center;
        padding: 10px;
        span {
          display: inline-block;
          height: 0px;
          font-size: 0px;
          width: 80px;
          border: 1px solid #ccc;
        }
      }
      .text-line-02 {
        font-size: 0.9rem;
        text-align: center;
        font-weight: 500;
      }
      .country-icons {
        list-style: none;
        padding: 0px;
        margin: 20px 0px 0px 0px;
        // border: 1px solid #000;
        font-size: 0px;
        text-align: center;
        > li {
          display: inline-block;
          padding: 0px;
          margin: 0px;
          padding: 0px 15px;
          img {
            width: 45px;
            margin-bottom: 10px;
            @include border-radius(50%);
          }
          .text {
            font-size: 14px;
          }
        }
      }
    }
  }
}

//desktop-1280.css
@media (min-width: $desktop-hi) {
}
// desktop-980.css
@media (min-width: $desktop) {
}
// tablet.css
@media (min-width: $tablet + 1) and (max-width: $desktop - 1) {
}
// mobile.css
@media (max-width: $tablet) {
}
